################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
*.sou
bin
obj
*.cache
*.user
packages
.vs
ITEC_WebApp/trunk/Claro.ITEC/tmp/*.csv
AddressesLatitudeLongitud/POStoUpdate
AddressesLatitudeLongitud/POSUpdated
*.orig

*.backup

*.psess
/**/.axoCover/runs
TestResult.xml
CoverageHistory
UnitTestResults